.form{
    width: 200px;
    background-color: red;
}


body{
    background-color: grey;
}

.block{
 display:block;
}

.box1{
    display:flex;
    flex-flow: row wrap;
}

.name{
    flex-grow: 2;
}

input .firstrow{
    width: 50px;
}